{
  "globals": {
    "document": true,
    "foo": true,
    "window": true
  },
  "rules": {
      "quotes": ["error", "single"],
      "no-alert": 0,
      "no-console": 0,
      "func-names": 0,
      "semi": [2],
      "javascript.validate.enable": false,
      "indent": ["error", 4]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },
  "extends": [
    "airbnb-base"
  ]
}
